* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav {
    background-color: black;
    color: white;
}   

.start {
    display: flex;
}

.start h2 {
    font-family: "Times New Roman", Times, serif;
    margin-left: 375px;
    font-size: 51px;
    padding: 10px;
}

.start a {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 488px;
    margin-right: -505px;
    padding: 26px;
    font-size: 19px;
}

.pic {
    background-color: rgb(228, 230, 231);
}

/* .pic img {
    width: 500px;
    height: auto;
 padding: 29px;
    margin-left: 1048px;
    margin-bottom: 50px
} */

.upper h2 {
    padding: 24px;
    margin-left: 371px;
    font-size: 37px;
}

.middle p {
    margin-left: 395px;
}

.btn button{
    margin-left: 396px;
    padding: 7px;
    margin-top: 59px;
    background-color: orangered;
    color: white;
    border: solid;
    width: 123px;
}
.lower img {
    margin-left: 1068px;
    width: 500px;
    margin-top: -309px;
    padding: 37px;
}

.head h1{
    margin-left: 388px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 37px;
}

.heading {
    display: flex;
}
.icon img {
    width: 361px;
    margin-left: 393px;
    padding: 3px;
    padding-top: 32px;
}

.icon h2 {
    margin-left: 396px;
}

.icon p {
    margin-left: 397px;
}

.icon button {
    margin-left: 397px;
    background-color: orangered;
    color: white;
    padding: 5px;
    margin-top: 12px;
    width: 135px;
    border: solid white;
}

.user img{
    margin-left: 19px;
    width: 361px;
    padding: 3px;
    padding-top: 32px;
}

.user h2 {
    margin-left: 24px;
}

.user p {
    margin-left: 28px;
}

.user button {
    margin-left: 28px;
    background-color: orangered;
    color: white;
    padding: 5px;
    margin-top: 12px;
    width: 135px;
    border: solid white;
}

.header img{
    margin-left: 18px;
    width: 361px;
    padding: 3px;
    padding-top: 32px;
}

.header h2 {
    margin-left: 23px;
}

.header p {
    margin-left: 29px;
}

.header button {
    margin-left: 31px;
    background-color: orangered;
    color: white;
    padding: 5px;
    margin-top: 12px;
    width: 135px;
    border: solid white;
}

.center {
    background-color: black;
    color: white;
}

.post h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
    margin-top: 89px;
    padding: 54px;
}

.posts {
    display: flex;
}
.posts h2 {
    margin-left: 397px;
    background-color: white;
    color: black;
    border-radius: 7px;
    width: 63px;
    text-align: center;
}

.posts h3 {
    margin-left: 20px;
}

.lowest {
    display: flex;
    margin-left: 475px;
    margin-top: -17px;
}

.poster {
    margin-left: 396px;
    margin-top: 27px;
    display: flex;
}

.poster h2 {
   
    background-color: white;
    color: black;
    border-radius: 7px;
    width: 63px;
    text-align: center;
}

.poster h3 {
    margin-left: 20px;
}

.lowests {
    display: flex;
    margin-left: 475px;
    margin-top: -17px;
}

.navs h1 {
    margin-left: 803px;
    margin-top: -309px;
}

.navs p {
    margin-left: 801px;
    margin-top: 53px;
}

.side h1 {
    color: white;
    margin-left: 1320px;
    margin-top: -234px;
}

.bar img {
    margin-left: 1320px;
    width: 44px;
    margin-top: 50px;
}

.bar p {
    color: white;
    margin-left: 1383px;
    margin-top: -38px;
    font-size: 30px;
}

.twitter img {
    margin-top: 15px;
    width: 44px;
}

.twitter p {
    margin-top: -42px;
}

.rss img {
    margin-top: 16px;
    width: 44px;
}

.rss p {
    margin-top: -42px;
}

.google img {
    margin-top: 13px;
    width: 44px;

}